<h5>Listing DN for </h5>

<table>
  <tr>
    <th>DN</th>
    <th></th>
  </tr>

<% @outsidenumbers.each do |outsidenumber| %>
  <tr>
    <td><%= outsidenumber.dn %></td>
    <td><%= link_to 'Destroy', outsidenumber, method: :delete, :remote => true, :class => 'delete_outsidenumber', data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

